fteqw
fteqw64
tmp/
output/
FortressOne/conhistory.txt
FortressOne/id1/pak0.pak
FortressOne/fortress/fte.cfg
FortressOne/fortress/csprogsvers/
FortressOne/fortress/env/
FortressOne/fortress/maps/
FortressOne/fortress/progs/
FortressOne/fortress/sound/
FortressOne/fortress/screenshots/
FortressOne/fortress/data/fortressone_hud.cfg
FortressOne/id1/skins/
FortressOne/fortress/zel.cfg
FortressOne/installed.lst
FortressOne/*.so
FortressOne/crash.log
FortressOne/fortress/update_cfg.cfg
FortressOne/fteplug_ezhud_x64.dll
FortressOne/fteqw64.exe
