fteqw
fteqw64
conhistory.txt
id1/pak0.pak
fortress/csprogsvers/
fortress/data/
fortress/maps/
fortress/progs/
fortress/sound/
fortress/screenshots/
id1/skins/
fortress/zel.cfg
installed.lst
*.so
crash.log
