fteqw
conhistory.txt
id1/pak0.pak
id1/qconsole.log
id1/dlcache/
id1/skins/
fortress/csprogsvers/
fortress/data/
fortress/maps/
fortress/progs/
fortress/sound/
fortress/screenshots/
fortress/demos/
fortress/models/
fortress/qconsole.log
fortress/fte.cfg
fortress/zel.cfg
installed.lst
fteplug_ezhud.so
crash.log
csqccore.txt
